{
  "clientId": "create an app at https://developer.wunderlist.com/apps to get a client ID",
  "accessToken": "click 'create access token' on your app at https://developer.wunderlist.com/apps to get an access token"
}
